			</section>
			<!-- section文章内容结束 -->
		</div>
		<!-- header部分以及section文章内容区域 结束-->
		<div class="clearfix"></div>
</div>
<!-- 整体大盒子 wrapper 结束-->
<script type="text/javascript" src="/javascripts/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/myPlugs.js"></script>
<script type="text/javascript" src="/javascripts/animation.js"></script>
<script type="text/javascript" src="/javascripts/highlight.min.js"></script>
<script type="text/javascript">hljs.initHighlightingOnLoad();</script>
</body>
</html>