<!DOCTYPE html>
<html lang="zh-cn">
<%- include public.html %>
<body>
<!-- 整体大盒子 wrapper开始 -->
<div id="wrapper">
	<!-- 侧边栏navabr 开始-->
	<div id="sidebar" class="pull-left">
		<!-- logo -->
		<div class="wrapGroup">
			<div class="logo text-center">
				<a href="/" alt="小橘子博客">
					<img class="img-response" src="/images/logo.png">
				</a>
				<span>小橘子博客</span>
			</div>	
			<!-- icon小图标列表 -->
			<ul class="buttons list-unstyled">
				<li>
					<a href="/" title="首页">
						<i class="fa fa-home"></i>
						<span>首页</span>
					</a>
				</li>
				<li>
					<a href="/reg" title="注册">
						<i class="fa fa-user"></i>
						<span>注册</span>
					</a>
				</li>
				<li>
					<a href="/login" title="登录">
						<i class="fa fa-send"></i>
						<span>登录</span>
					</a>
				</li>
				<li>
					<a href="/post" title="发布新文章">
						<i class="fa fa-file-o"></i>
						<span>发表</span>
					</a>
				</li>
				<li>
					<a href="/logout" title="退出">
						<i class="fa fa-power-off"></i>
						<span>退出</span>
					</a>
				</li>
				<li>
					<a href="/link" title="友情链接">
						<i class="fa fa-link"></i>
						<span>友链</span>
					</a>
				</li>
				<li>
					<a href="archive" title="归档">
						<i class="fa fa-envira"></i>
						<span>归档</span>
					</a>
				</li>
			</ul>
			<!-- iucon 小图标列表 -->
			<ul class="buttons list-unstyled listLine">
				<li>
					<a href="https://github.com/zhang962976642/" target="_blank" title="Github">
						<i class="fa fa-github"></i>
					</a>
					<a href="/" target="_blank" title="QQ">
						<i class="fa fa-qq"></i>
					</a>
					<a href="" target="_blank" title="微博">
						<i class="fa fa-weibo"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- 侧边栏navbar 结束 -->

	<!-- header部分以及section文章内容区域 -->
	<div id="wrapContent" class="pull-left">
		<!-- header标题栏 开始-->
		<header id="header" class="hidden-sm hidden-md hidden-lg">
			<div id="toggleSidebar" class="toggleSidebar">
				<i class="fa fa-bars"></i>
			</div>
			<h1 class="headerTitle">
				<a href="/" title="小橘子博客">
					小橘子博客
				</a>
			</h1>
			<a class="aboutMe" href="/about" title="关于我">
				<img class="img-response" src="/images/logo.png">
			</a>
		</header>
		<!-- header标题栏 结束 -->

		<!-- section文章内容开始 -->
		<section id="article">
		