<%- include header.html %>
  <!--第二篇内容-->
  <% docs.forEach(function(data,index){ %>
  <article class="post">
  	<h1 class="Title pull-left">
  		<a href="u/<%= data.name %>/<%= data.title %>"><%= data.title %>!</a>
  		<span></span>
  	</h1>
  	<div class="main pull-right hidden-xs text-right">
  		<a href="u/<%= data.name %>"><span class="author"><%= data.name %></span></a>
  		<span class="postTitle">
  			发表于&nbsp;
  			<i><% var str = data.time.toLocaleString(); var _str = str.split(' ') %> <%= _str[0]%></i>
  		</span>
  		<span class="comment pull-right">
  			<a href="#"><%= data.comment.length %> comment</a>
  		</span>
  	</div>
  	<div class="clearfix marginHeight"></div>
  	<!--整体内容-->
	<div class="articleWrap">
		<blockquote>
			<p>原文: <a href="<%= data.titleSrc %>"><%= data.titleSrc %></a></p>
		</blockquote>
		<p>
			<%- data.info %>
		</p>
		<p class="more">
			<a href="#">阅读全文<i class="fa fa-angle-double-right"></i></a>
      <% data.tags.forEach(function(tagArray,index){ %>
        <% if(tagArray){ %>
          <a href="/tags/<%= tagArray %>"><%= tagArray %></a>
        <% } %>
      <% }) %>
		</p>
    <p class="text-right" style="margin-bottom:0;">Pv：<%= data.pv %></p>
	</div>
  </article>
  <% }) %>
  <%- include page.html %>
<%- include footer.html %>